params {
    input_adata = "${projectDir}/data/biof501_data.h5ad"
    outputDir   = "${projectDir}/output"
}

process {
    withName:batch_effect_check_plot {
        container = 'user_name/scanpy_env:latest'
    }
    withName:run_leiden_clustering {
        container = 'user_name/scanpy_env:latest'
    }
    withName:plot_cluster_heatmap {
        container = 'user_name/scanpy_env:latest'
    }
}

singularity {
    enabled = true
    autoMounts = true
}